body {
  background-color: blanchedalmond;
}

h1 {
  text-align: center;
  color: blue;
  padding: 5px, 5px;
}

p {
  text-align: center;
}

.pagelinks {
  text-align: center;
  color: blueviolet;
  justify-content: center;
  display: flex;
  padding: 20px 15px;
}

.pagelinks a {
  margin: 0 10px;
}

img {
  border-radius: 4px;
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
